.header {
  text-align: center;
  font-size: 24px;
  margin-top: 50px;
  line-height: 1.6em;
}
.header h1 span {
  display: block;
  font-weight: 500;
}
.header h1 strong {
  text-transform: uppercase;
  font-weight: 600;
}
.box {
  text-align: right;
  margin: 60px 0px;
}
.box .video,
.box .form {
  display: inline-block;
  vertical-align: top;
}
.form {
  border: 5px solid #6464cb;
  padding: 20px;
  margin-left: 30px;
}
.form input {
  width: 300px;
  font-size: 18px;
  display: block;
  margin-top: 10px;
  padding: 17px;
  border: 1px solid #9b9a9a;
}
