@font-face{
		font-family:"v_ALoveOfThunder";
		src: url("fonts/v_ALoveOfThunder/v_ALoveOfThunder.ttf"), 
			url("fonts/v_ALoveOfThunder/v_ALoveOfThunder.eot"),
			url("fonts/v_ALoveOfThunder/v_ALoveOfThunder.woff"),
			url("fonts/v_ALoveOfThunder/v_ALoveOfThunder.woff2");
}

body{
	font-family: Verdana, Geneva, Arial;
	font-size: small;
}
h1, h2{
		color: #c60;
		border-bottom: thin dotted #888888;
}

h1{
	font-family: v_ALoveOfThunder, fantasy;
	font-size: 220%;
}

h2{
	font-size: 130%;
	font-weight:normal;
}
blockquote{
	font-style: italic;
}

/*-----Table------------------*/
td, th {border: thin dotted #000;
		padding:5px;}
		table{
			margin:0px 20px;
			caption-side:bottom;
			border: thin solid #000;
			border-collapse:collapse;}
		caption{
			font-style:italic;
			padding-top:8px;}
		.center{
			text-align: center;}
		.right{
			text-align: right;}
		th{
			background-color:#c60;}
		.cellcolor{
			background-color: #E6A667;}
		table tr table th{
			background-color: #fff}
		/*-----List-----------*/
		li{
			list-style-image: url(../image/backpack.png);
			padding-top: 5px;
			margin-left:20px;
		}