body{
	box-sizing: border-box;
	padding: 10px 0px;
	background-color: #BCCCF0;
	width: 1000px;
	margin: 0px auto;
	font: 20px sans-serif;
}

.header{
	background-color: #739DFF;
	width: 980px;
	height: 200px;
	margin: 0px auto;
}

.table{
	display:table;
	border-spacing: 10px;
	}
.tablerow{
	display: table-row;
	;}

.nav{
	display: table-cell;
	background-color: #739DFF;
	width:250px;
	height: 550px;}
.news{
	display: table-cell;
	background-color: #739DFF;
	height: 550px;
	width:750px;
}

.footer{
	background-color: #739DFF;
	width: 980px;
	height: 100px;
	margin: 0px auto;
}


@media (max-device-width:500px), (max-device-height: 300px) {
	body{
		
	}
	.nav{
		display: block;
		background-color: #739DFF;
		width:980px;
		height: 550px;
		margin: 0px auto;}
	.news{
		display: block;
		background-color: #739DFF;
		height: 550px;
		width: 980px;
		margin: 10px auto 0px auto;}

	}